/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
   
  /*--------------------- HEADER - SECTION ---------------------*/
header {
  position: fixed;
  width: 100%;
  transition: 0.55s;
  z-index: 100;
  margin-top: -20px;
}

header:hover {
  border-style: solid;
  border-width: 0 0 5px 0;
  border-color: #af8260e6;
}

header div  {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0px 80px;
  background-color: #2a2423;
}

a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  color: #AF8260;
  transition: 0.5s;
  width: 200px;
}

a:hover {
  color: #d0bcac;
  background-color: #9B6F4E;
}

body {
  padding: 0;
  margin: 0;
  background-color: #2a2423;
}

/*--------------------- HOME - SECTION ---------------------*/

.home-shop-name, .home-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 40px;
  padding: 200px 0px;
  color: #AF8260;
  text-shadow: 3px 3px 0px #5a443489;
}

.home-shop-name h1, .home-title h1 {
  padding: 0;
  margin: 0;
  margin-top: 0px;
}

.home-shop-name {
  margin: 60px 0px 0px 0px;
  background-image: url("../assets/background/background-1.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 100%;
}

.home-title{
  margin: 140px 0px;
  background-image: url("../assets/background/background-2.svg");
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: 100%;
  height: auto;
}

.home-coffee-tea {
  display: flex;
  justify-content: space-between;
  margin: 140px 0px;
  padding: 140px 40px;
  background-image: url("../assets/background/background-2.svg");
  background-repeat: no-repeat;
  background-position: 120%;
  background-size: 100%;
  height: auto;
}

.home-offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-offer h3, .home-sandwiches h3 {
  font-size: 40px;
  width: 300px;
  color: #AF8260;
}

.home-coffee-tea img, .home-sandwiches img {
  height: 300px;
}

.image-coffee-tea {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}

.home-coffee-tea .img-1 {
  margin-bottom: -200px;
  margin-right: -100px;
}

.home-coffee-tea .img-2 {
  height: 240px;
}

.home-sandwiches {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 120px 20px;
  background-image: url("../assets/background/background-2.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 100%;
  height: auto;
}

.home-sandwiches h3 {
  text-align: right;
  margin-left: -100px;
  margin-top: 90px;
  margin-right: 50px;
}

.home-sandwiches .img-1 {
  padding-left: 60px;
  width: 300px;
  height: auto;
  margin: 0;
}

.home-sandwiches .img-2 {
  margin-bottom: -150px;
  width: 300px;
  height: auto;
  margin-left: 70px;
  padding-top: -100px;
  margin-top: -100px;
}

.home-bagels {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px;
  padding: 140px 40px;
  background-image: url("../assets/background/background-2.svg");
  background-repeat: no-repeat;
  background-position: 120%;
  background-size: 100%;
  height: auto;
}

.home-bagels h3 {
  font-size: 40px;
  width: 800px;
  color: #AF8260;
}

.home-bagels img {
  margin-left: -80px;
  width: auto;
  height: 400px;
}

.home-music {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 140px 20px;
  background-image: url("../assets/background/background-2.svg");
  background-repeat: no-repeat;
  background-position: 120%;
  background-size: 100%;
  height: auto;
}

.home-music img {
  width: auto;
  height: 380px;
}

.home-music h3 {
  font-size: 50px;
  width: 100%;
  padding-right: 20px;
  color: #AF8260;
  text-align: right;
}

.home-open-mic img {
  width: 380px;
  height: auto;

}

.home-open-mic {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
  padding: 140px 40px;
  background-image: url("../assets/background/background-2.svg");
  background-repeat: no-repeat;
  background-position: 120%;
  background-size: 100%;
  height: auto;
}

.home-open-mic h3 {
  font-size: 50px;
  width: 100%;
  color: #AF8260;
  padding-left:50px;
}


/* -------------   MENU - SPECIALTY COFFEE ------------- */

.menu-coffee {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url("../assets/background/background-3.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  height: auto;
  margin-bottom: 20px;
}

.menu-coffee {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-coffee img {
  height: 250px;
}

.menu-coffee .row-1 {
  display: flex;
  flex-direction: row;
}

.wrapper-coffee-1, .wrapper-coffee-2, .wrapper-coffee-3, .wrapper-coffee-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.menu-coffee p {
  font-size: x-large;
  font-weight: 800;
  color: #AF8260;
}

.coffee-name-1 {
  margin-left: -30px;
}

.coffee-name-2 {
  margin-bottom: -20px;
}

.menu-coffee .coffee-name-3 {
  display: flex;
  flex-direction: row;
}

.menu-coffee .coffee-name-4 {
  display: flex;
  flex-direction: row;
  margin-left: 65px;
  margin-bottom: -50px;
}

.menu-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
  margin-bottom: 60px;
  background-color: #af82609f;
  height: 80px;
}

/* -------------   MENU - SPECIALTY TEA ------------- */

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0px 110px 0px;
  padding: 10px 40px;
  background-image: url("../assets/background/background-3.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  height: auto;
}

.menu .row-1 {
  display: flex;
  flex-direction: row;
}

.menu p {
  font-size:25px;
  font-weight: 800;
  color: #AF8260;
  text-align: center;
  margin-bottom: -15px;
}

.menu div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu img {
  height: 240px;
  margin-bottom: -20px;
}

/* -------------   MUSIC, POETRY, AND READINGS ------------- */


.img-container{
  display: flex;
  flex-direction: column;
  padding: 100px 0px 100px 0px;
  background-image: url("../assets/background/background-3.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 74%;
  height: auto;
}

.music-container img {
  margin-bottom: 40px;
}

.music-container .img-1, .music-container .img-2, .music-container .img-3{
  height: auto;
  padding: 30px;
  margin-left: -10px;
}

.music-container h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 30px;
  background-color: #af82609f;
  height: 80px;
}

/* -------------   JOB OFFERRING  ------------- */

.jobs-container .img-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 100px 40px 100px 40px;
  background-image: url("../assets/background/background-3.svg");
  background-repeat: no-repeat;
  background-size: 80%;
  height: auto;
}

.jobs-container img {
  height: 300px;
}

.jobs-container h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
  background-color: #af82609f;
  height: 80px;
}

/*        FOOTER        */

.email {
  background-color: #9B6F4E;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: -20px;
}

.copyrights {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #af82609f;
  height: 80px;
  padding: 0;
  margin: 0;
  margin-top: -19px;
}
}
